.info {
  width: 100%;
  /* background-color: gray; */
  vertical-align: middle;
}

.overview {
  background-color: green;
  width: 100%;
  vertical-align: middle;
}

.parentElement {
  border-bottom: 1px solid turquoise;
  padding: 0px;
  margin: 0;
  width: 100%;
  display: table;
  padding: 2px;
}

.childElement {
  display: table-cell;
  vertical-align: middle;
}

.overviewElement {
  border-radius: 10px;
  background-color: violet;
  height: 5rem;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}
